<table class="table">
  <thead>
    <tr>
      <th>Trigger</th>
      <th>Response</th>
      <th>Permission</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |command|}}
      <tr>
        <td scope="row">{{command.commandTrigger}}</td>
        <td>{{command.commandResponse}}</td>
        <td>{{#if command.commandPermission}}
          {{command.commandPermission}}
        {{else}}
          No Permission
        {{/if}}</td>
        <td class="actions">
          <span class="glyphicon glyphicon-trash text-danger delete-action" aria-hidden="true" {{action "deleteCommand" command}}></span>
          <span class="glyphicon glyphicon-cog delete-action" aria-hidden="true" {{action "editCommand" command}}></span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}