<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Minutes</th>
      <th>Currency</th>
      <th>Joined</th>
      <th>Last Updated</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |follower|}}
      <tr>
        <td scope="row" class="save-cell">{{follower.username}}</td>
        <td>{{follower.minutes}} minutes</td>
        <td>{{follower.currency}} Tax Dollars</td>
        <td>{{follower.created_at_nice}}</td>
        <td>{{follower.updated_at_nice}}</td>
        <td class="actions">
          <span class="glyphicon glyphicon-trash text-danger delete-action" aria-hidden="true" {{action "deleteFollower" follower}}></span>
          {{#link-to "followers.edit" follower.id}}<span class="glyphicon glyphicon-cog edit-action" aria-hidden="true"></span>{{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}