<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Interval</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |message|}}
      <tr>
        <td scope="row">{{message.title}}</td>
        <td>{{message.messageContent}}</td>
        <td>{{message.interval}}mins</td>
        <td>
          {{#if message.active}}
            Active
          {{else}}
            In-Active
          {{/if}}
        </td>
        <td class="actions">
          <span class="glyphicon glyphicon-trash text-danger delete-action" aria-hidden="true" {{action "deleteMessage" message}}></span>
          <span class="glyphicon glyphicon-cog delete-action" aria-hidden="true" {{action "editMessage" message}}></span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{outlet}}