<div class="progress">
  <div class="progress-bar {{if isConnected 'progress-bar-success' 'progress-bar-danger'}}" style="width: 101%;"></div>
</div>
<div class="fluid-container">
  <ul class="nav nav-pills">
    {{#link-li currentWhen="commands"}}
		  {{#link-to 'commands'}}
		    Commands
		  {{/link-to}}
		{{/link-li}}
		{{#link-li currentWhen="messages"}}
		  {{#link-to 'messages'}}
		    Messages
		  {{/link-to}}
		{{/link-li}}
    <li class="navbar-right"><button {{action 'startBot'}} class="btn btn-success">Start Bot</button><button {{action 'stopBot'}} class="btn btn-danger">Stop Bot</button></li>
  </ul>
  {{outlet}}
</div>
{{outlet 'modal'}}
{{ember-notify messageStyle='bootstrap'}}
