<div class="active-bar {{if isConnected 'bg-success' 'bg-danger'}}"></div>
<div class="fluid-container">
  <ul class="nav nav-pills">
    {{#link-li currentWhen="commands"}}
		  {{#link-to 'commands'}}
		    Commands
		  {{/link-to}}
		{{/link-li}}
		{{#link-li currentWhen="messages"}}
		  {{#link-to 'messages'}}
		    Messages
		  {{/link-to}}
		{{/link-li}}
    <li class="navbar-right"><button {{action 'startBot'}} class="btn btn-success ladda-button start-bot-button" data-style="slide-down"><span class="ladda-label">Start Bot</span></button><button {{action 'stopBot'}} class="btn btn-danger ladda-button stop-bot-button" data-style="slide-down"><span class="ladda-label">Stop Bot</span></button></li>
  </ul>
  {{outlet}}
</div>
{{outlet 'modal'}}
{{ember-notify messageStyle='bootstrap'}}
